/*---------------------------------------------------------
 * Footer
---------------------------------------------------------*/
.body__footer {
  clear: both;
  padding: 1.5em 0;
  margin-top: 1em;
}
.finder {
  width: 475px;
  height: 130px;
  margin: 0 auto;
  clear: both;
  padding-top: 1em;
  iframe {
    width: 100%;
    height: auto;
  }
}