/*---------------------------------------------------------
 * Footer
---------------------------------------------------------*/
.body__footer {
  clear: both;
  padding: 1.5em 0;
  margin-top: 1em;
}